{% extends "base.html" %}

{% block title %} Skierowanie wewnętrzen {% endblock %}

{% block content %}
<h1> Skierowanie wewnętrzne</h1>
     <head>
    <meta charset="utf-8" />
        <title>Form</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script>
        $(function() {
            $( "#id_date_of_appointment" ).datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
        </script>
    </head>
        <form action="." method="post">
            {{ internal_appointment.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Zatwierdź"> </p>
        </form>
{% endblock %}