{% extends "base.html" %}

{% block title %} Rejestracja {% endblock %}

{% block content %}
     <head>
    <meta charset="utf-8" />
        <title>Form</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script>
        $(function() {
            $( "#id_date_of_birth" ).datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
        </script>
    </head>
    <h1>Utwórz konto</h1>
    <p>Wypełnij formularz aby, aby się zarejestrować.</p>
    <form action="." method="post">
    {{ user_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Utwórz konto"></p>
    </form>
{% endblock %}