{% extends "base.html" %}

{% block title %} Historia pacjenta {% endblock %}

{% block content %}
    {% if request.method == "GET"%}
    <form action="." method="post">
    {{ history_list.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Przeszukaj"></p>
    </form>
    {% else %}
<h1>Historia badań pacjenta.</h1>
    <table>
    <tr>
        <th width="20%">Lekarz</th>
        <th>Data badania</th>
        <th width="60%">Opis badania</th>
        <th width="10%">Plik z badaniami</th>
    </tr>
    {% for item in history_list %}
        <tr>
        <td>{{ item.doctor.get_full_name }}</td>
        <td>{{ item.date_of_medical_examination }}</td>
        <td>{{ item.notes|linebreaksbr }}</td>
        <td>
            {% if item.file_of_medical_examination %}
                <form method="get" action="{{ item.file_of_medical_examination.url }}">
                <button type="submit">Pobierz</button>
            {% endif %}
        </form></td>
        </tr>
    {% endfor %}

    </table>

     {% if appointment_history_list != null %}
    <h2> Historia wizyt:</h2>
        <table>
        <tr>
            <th>Lekarz</th>
            <th>Data wizyty</th>
            <th width="60%">Opis wizyty</th>
        </tr>
        {% for item in appointment_history_list %}
            {% if  item.notes != '' %}
            <tr>
                <td>{{ item.doctor }}</td>
                <td> {{ item.date_of_appointment }}</td>
                <td>{{ item.notes|linebreaksbr }}</td>
            </tr>
            {% endif %}

        {% endfor %}
        </table>
    {% endif %}
    {% endif %}
{% endblock %}