{% extends "base.html" %}

{% block title %} Historia badań {% endblock %}

{% block content %}
<h1>Lista przeprowadzonych badań</h1>
    {% if request.user.groups.all.0.name == "lekarz"%}
        <p>Aby dodać nowe badanie przejdź
            <a href="{% url "badanie_add" %}" >tutaj</a>.</p>
        <p>Aby sprawdzić historię badań pacjenta przejdź
            <a href="{% url 'history_list' %}">tutaj</a>.</p>
    {% else %}

    <table>
    <tr>
        <th width="20%">Lekarz</th>
        <th>Data badania</th>
        <th width="60%">Opis badania</th>
        <th width="10%">Plik z wynikami</th>
    </tr>
    {% for item in  medical_examination_list %}

        <tr>
        <td>{{ item.doctor.get_full_name }}</td>
        <td>{{ item.date_of_medical_examination }}</td>
        <td>{{ item.notes|linebreaksbr }}</td>
        <td>
            {% if badanie.file_of_medical_examination %}
                <form method="get" action="{{ badanie.file_of_medical_examination.url }}">
                <button type="submit">Pobierz</button>
            {% endif %}
        </form>

        </td>
        </tr>

    {% endfor %}
    </table>
{% endif %}
{% endblock %}